<div class="container" id="form-ask">
<h1>Ask a question!</h1>
    <form action="/answer" method="get" class="form-inline">
      <div class="form-group">
      <input type="text" name="question" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="ask a question">
      </div>
       <button type="submit" value="Ask!" class="btn btn-primary" id="ask-button">Good Luck!</button>
    </form>
</div>


